:root {
  --cellWidth: 60px;
  --button-height: 45px;
  --modal: #dcdcdc;
  --modal-body: rgb(236, 236, 236);
  --fontSize: calc(var(--cellWidth) * 1);
  --fontSizeM: calc(var(--cellWidth) * .5);
  --fontSizeS: calc(var(--cellWidth) * .4);
}
@media only screen and (max-width: 750px) {
  :root {
    --cellWidth: 30px;
    --button-height: 30px;
  }  
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: fit-content;
}
#score {
  margin-left: auto;
  display: flex;
}
#timer {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
#score_timer_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aliceblue;
}
#help {
  height: 40px;
  width: 40px;
  background-image: url(./assets/お皿.png);
  margin-left: var(--cellWidth);
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--modal);
  font-weight: 900;
}

.modal-header {
}
.modal-body {
  font-size: var(--fontSizeM);
}

#container {
  font-size: var(--fontSize);
}
#modal-black {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
}

#modal-title {
  position: fixed;
  z-index: 2;
  width: 90%;
  height: 10em;
  background-color: var(--modal);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal-header {
  height: var(--cellWidth);
  font-size: var(--fontSizeM);
  position: absolute;
  margin-top: 10px;
  top: 0;
  display: flex;
  align-items: center;
}
.modal-body {
  width: 90%;
  height: calc(100% - 140px);
  background-color: var(--modal-body);
  border-radius: 20px;
  padding: 10px;
}
.modal-footer {
  height: var(--cellWidth);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.modal-footer > button {
  height: var(--button-height);
  width: calc(var(--cellWidth) * 2);
  border-radius: 10px;
  font-size: var(--fontSizeM);
  margin-bottom: 10px;
  background-color: var(--modal-body);
  border-color: var(--modal);
}

.hide {
  display: none !important;
}
#modal-retry {
  position: fixed;
  z-index: 2;
  width: 90%;
  height: 5em;
  background-color: var(--modal);
  bottom: 5%;
  right: 0;
  left: 0;
  margin: auto auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#modal-help {
  position: fixed;
  z-index: 2;
  width: 90%;
  height: 14em;
  background-color: var(--modal);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#modal-help .modal-body {
  font-size: var(--fontSizeS);
}
#modal-help .modal-body img {
  width: var(--fontSizeS);
}
.help-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
