body {
    display: flex;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: fit-content;
}
#score {
    font-size: xx-large;
    margin-left: auto;
    display: flex;
}
